$primary: #1E59FE;
$primary-light: #F8F8F8;
$primary-grey: #EBEBEB;
$white: #fff;


* {
  margin: 0;
  padding: 0;
}

img {
  max-width: auto;
}

body {
  background-color: $white;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  line-height: 10px;
  word-spacing: 3;
}


header {
  background-image: linear-gradient(rgba($primary, .9), rgba($primary, .9)), url(../img/hero-background.png);
  background-size: cover;
  background-position: center center;
  position: relative;
  height: 90vh;
  width: 100vw;
}

.left-content {
  margin-top: 250px;

  h3 {
    color: $white;
    font-weight: 400;
  }
}

.right-content {

  img {
    width: 379px;
    height: 639px;
  }
}